body{
    font: Arial, sans-serif;
}

.intestation{
    height: 170px;
    width: 100%;
    background-color: rgb(125, 125, 255);
    background-image: url(../img/pattern.png);
}

.figure{
    margin:none;
}

.logo{
    height: 30%;
}
    
.white-blue{
    color: rgb(91, 165, 226);
}

.subtitle{
    color: rgb(178, 178, 182);
}

h1{
    font-style: strong;
    border-width: 10px;
}

.legend{
    font-size: small;
}

.highlighted{
    background-color: yellow;
}

th{
    text-align: left;
    background-color: rgb(0, 143, 199);
    color: azure;
}

.index{
    width: 20%;
}

.number{
    width: 20%;
}

.description{
    width: 40%;
}

.blue-row{
     background-color: rgb(125, 238, 253);
}

h4{
    color: gray;
}

.pc{
    color:white;
    font-size: 150%;
    background-image: url(../img/monitor.jpg);
    height:180px;
    background-repeat: no-repeat; 
    padding: 15px;
    margin:0px;
}

.trade{
    color:white;
    font-size: 150%;
    background-image: url(../img/graph.jpg);
    height:200px;
    background-repeat: no-repeat; 
    padding: 15px;
    margin-top:10px;
}